name: Scorecard supply-chain security

on:
  branch_protection_rule:
  schedule:
    - cron: "0 6 * * 5"
  push:
    branches: [ main ]

permissions:
  security-events: write
  id-token: write
  contents: read

jobs:
  scorecard:
    runs-on: ubuntu-latest
    steps:
      - uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true
      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif

